bin/lily.exe
bin/lily
bin/lilyfmt.exe
bin/lilyfmt
tests/.exe
playground/playground.exe
playground/playground.pdb
playground/playground.bin
samples/pong/pong.exe
samples/pong/pong.lib
samples/pong/pong.exp
.vscode/
ols.json