bin/lily.exe
bin/lily
bin/lilyfmt.exe
bin/lilyfmt
tests/.exe
tests/playground/playground.exe
tests/playground/playground.pdb
tests/playground/playground
samples/pong/pong.exe
samples/pong/pong.lib
samples/pong/pong.exp
.vscode/
ols.json